<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Funcion치rios</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Lista de Funcion치rios</h1>
  <nav>
    <a href="/">Home</a> |
    <a href="/funcionarios">Funcion치rios</a> |
    <a href="/cadastro-funcionario">Cadastrar Funcion치rio</a>
  </nav>
  <div id="app">
    <ul>
      <% funcionarios.forEach(funcionario => { %>
        <li>
          <strong><%= funcionario.nome %></strong> -
          Horas Extras: <%= funcionario.horas_extras %>,
          Horas Folga: <%= funcionario.horas_folga %>
          <a href="/editar-funcionario/<%= funcionario.id %>">Editar</a>
        </li>
      <% }) %>
    </ul>
  </div>
</body>
</html>